@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  overflow: hidden;
  width: 868px;
  margin-left: 20%;
}
.contactus {
  text-align: center;
}

h2 {
  font-size: 2rem;
}
.form-container {
  display: flex;
}
.left-container {
  flex: 1;
  height: 480px;
  background-color: #1089ff;
}
.right-container {
  display: flex;
  flex: 1;
  height: 480px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}
.left-container {
  display: flex;
  flex: 1;
  height: 480px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: large;
}
.left-container p {
  font-size: 0.9rem;
}
.right-inner-container {
  width: 70%;
  height: 80%;
  text-align: center;
}
.left-inner-container {
  height: 50%;
  width: 50%;
  text-align: justify;
  margin-left: 25px;
  line-height: 22px;
}
input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}
input:focus,
textarea:focus {
  outline: 1px solid #00b4cf;
}
button {
  border-radius: 20px;
  border: 1px solid #00b4cf;
  background-color: #4682b4;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
  background-color: blue;
}
@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }
  .lg-view {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}
form p {
  text-align: left;
}

@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
